<center><img src="https://media.licdn.com/dms/image/D4D0BAQHOLNi1297n2g/company-logo_200_200/0/1697658047551?e=1707955200&v=beta&t=PaSbWR-y89ji3AKX9SAQs4dHjmhhgENXgMzasUTpgrE"></center>

This Project is the traditionnal machine learning project, the main objective is to practice `Python`, `Data Cleaning`, `Data Visualization` `Machine Learning`.

The main objectif is to train a machine learning model for house selling prediction based on a structured data.

# Set Up the envirement

* Importing the necessary data

In [3]:
import numpy as np
import seaborn as sns
import pandas as pd
import torch
import torch.nn as nn
from torch.utils.data import Dataset, dataloader
import matplotlib.pyplot as plt

* Importing the data

In [4]:
df = pd.read_csv("./HousePrices_HalfMil.csv")
df.head()

,Area,Garage,FirePlace,Baths,White Marble,Black Marble,Indian Marble,Floors,City,Solar,Electric,Fiber,Glass Doors,Swiming Pool,Garden,Prices
0,164,2,0,2,0,1,0,0,3,1,1,1,1,0,0,43800
1,84,2,0,4,0,0,1,1,2,0,0,0,1,1,1,37550
2,190,2,4,4,1,0,0,0,2,0,0,1,0,0,0,49500
3,75,2,4,4,0,0,1,1,1,1,1,1,1,1,1,50075
4,148,1,4,2,1,0,0,1,2,1,0,0,1,1,1,52400

Our data is now ready to be use, we need to know some other informations such as the size of our data and also the differents parameters .

In [5]:
df.shape

(500000, 16)

Our data is big to be used for studies, can see that we have $